body {
    font-family: themix, sans-serif !important;
    background-color: #E7DFC9 !important;
    --bs-body-color: #11284F;
    touch-action: manipulation; /* https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
}

.bg-navy {
    background-color: #11284F !important;
}

.bg-sand {
    background-color: #D7D3C0 !important;
}

.bg-sand-light {
    background-color: #E7DFC9 !important;
}

.text-navy {
    color: #11284F !important;
}

a {
    color: #cd6a2d !important;
}

.h1mobile {
    font-size: 1.728rem !important;
}

main {
    min-height: 70vh;
}

/*.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col {*/
/*    overflow-wrap: break-word; border: 2px solid blue;*/
/*}*/