@import "tailwindcss";

body {
    font-family: themix, sans-serif !important;
    background-color: #11284F !important; /* #ADC2C2 6AABC4 */
    --bs-body-color: #11284F;
    color: white !important;
    touch-action: manipulation; /* https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
}
